---
import cat from './cat.jpg'
import map from './map.jpg'
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TITLE_SHORT } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE_SHORT} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑🏻‍💻 Hello there!</h1>
			<p>
				Welcome to the official <a target="_blank" href="https://www.stlawrencecollege.ca">St. Lawrence College</a> Cornwall Computer Club, CCC. 
				For some reason, we've dedicated our careers to the odd realm of coding. We love the 1% satisfaction after 99 syntax errors, and a blue screen.
			</p>
			<p>
				<code>
					Did we mention, we like computers?</code>
                    <span class="cat"> Cats
                            <img src={cat.src} class="catjoke" alt="A photo of a hidden cat"> 
                    </span> too, though dogs are also popular.
			</p>
            <h2>Info</h2>
            <p>Our meetings are held every wednesday at 4:30PM in room A321. <br>(see image below for reference).
                <img src={map.src} alt="Map to room A321">
			</p>
            You must be a SLC student to join the team. <a href="https://teams.microsoft.com/l/team/19%3AnseAtTTvhgG8g6m2_mWnIEAYMG_h5pezZViuDZ6a6tk1%40thread.tacv2/conversations?groupId=a1e5295a-1e7d-47bb-accf-fb57bd470930&tenantId=974d3927-9bb4-48c9-b65c-6094393d030b" target="_blank">MS teams link</a>
		</main>
		<Footer />
	</body>
</html>
<style>
	.catjoke {
        width: 100%;
        max-width: 300px;
        left: 50%;
        display: none;
    }
    .cat:active .catjoke {
        display: block;
    }
</style>